/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 75%;
  width: 100%
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  /*background-color: #E5EEC3;*/
  font-family: 'Open Sans Condensed', sans-serif;
}
.nav-wrapper {
  background-color: #D6504D;
}

.info-window.row {
  margin-bottom: 0px;
}

.card {
  height: 110%
}

.card-image {
  height: 67%;
}

.card-action {
  padding-top: 0px;
  padding-bottom: 2px;
}