@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
.splash .container h2 {
    font-size:4em;
    margin-top: 20%;
    color: #222b28;
    text-align: center;
    letter-spacing: 0.1em;
}

*/



@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}



body{
    font-family: FontAwesome;
    font-size: 2em;
    line-height: 1.75em;
    width: 100%;
    vertical-align: center;
    background: #eee;
    /*background-color: #000000;*/
    /*background-image: url("banner.jpg");*/
}
a{
    text-decoration: none;
}

.myLogo{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
}

.logo{
    width: 35%;
    text-align: center;
    margin-top: 5px;
    font-family: georgia;
    display: inline-block;
}

.nav{
    width: 60%;
    display: inline-block;
    text-align: right;
    float: right;
    

}

#nav ul li {
    display: inline-block;
}

#nav li:not(:first-child):before {
    content: " | ";
    color: #FFFFFF;
}


   /* #nav ul{}
        #nav ul li{
            display: inline-block;
            height: 62px;
        }
            #nav ul li a{
                padding: 20px;
                color: white;
            }
            #nav ul li a:hover{
                background-color: #ffb424;
                box-shadow: 0px 1px 1px #666;
            }
            #nav ul li a:active{ background-color: #ff8f00; }


            */

